# This is Git's per-user configuration file.
[user]
	name = faith
	email = jamienibtong@gmail.com
# Please adapt and uncomment the following lines:
#	name = Jamie Nib Tong
#	email = faith@Jamies-MacBook.local
[credential]
	helper = store
[hub]
	protocol = https
[merge]
  tool = ediff
[mergetool "ediff"]
  cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[pull]
	rebase = false
[alias]
	conflicted = !vim +Conflicted
