""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set easymotion

set showmode
set so=5
set incsearch
set nu

set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

nnoremap <leader>f <Plug>(easymotion-s)
nnoremap <leader>e <Plug>(easymotion-f)
map <S-Space> <Action>(GotoNextError)
map ge <Action>(ShowErrorDescription)
map <Tab> <Action>(NextTab)
map <S-Tab> <Action>(PreviousTab)
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>a <Action>(ActiveProblemsViewToolWindow)
map <leader>t <Action>(ActiveTerminalToolWindow)

map ]g <Action>(GotoNextError)
map [g <Action>(GotoPreviousError)
map gd <Action>(GotoDeclaration)
map gy <Action>(GotoTypeDeclaration)
map gi <Action>(GotoImplementation)

inoremap jk <Esc>
nnoremap vd "_d
xnoremap x "_d
nnoremap vD "_D
xnoremap P "0p
xnoremap Y "+y

