! colors
#include ".Xresources.d/ephemeral" 

! dmenu
dmenu.background: background
dmenu.foreground: foreground
dmenu.selforeground: background
dmenu.selbackground: foreground
st.font: Hack Nerd Font Mono:style=Regular:size=16:antialias=false:autohint=false
st.alpha: 1.0
st.borderpx: 50
