* {
    xbg: #323F4E;
    xfg: #F8F8F2;
    x0: #3D4C5F;
    x1: #F48FB1;
    x2: #A1EFD3;
    x3: #F1FA8C;
    x4: #92B6F4;
    x5: #BD99FF;
    x6: #87DFEB;
    x7: #F8F8F2;
    x8: #56687E;
    x9: #EE4F84;
    x10: #53E2AE;
    x11: #F1FF52;
    x12: #6498EF;
    x13: #985EFF;
    x14: #24D1E7;
    x15: #E5E5E5;
}

@import "themes/colorschemes/dark.rasi"
