""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set surround
set commentary
set easymotion
set NERDTree

set showmode
set so=5
set incsearch
set nu

set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

nnoremap <leader>e :NERDTreeToggle<CR>
map <S-Space> <Action>(GotoNextError)
map ge <Action>(ShowErrorDescription)
map <Tab> <Action>(NextTab)
map <S-Tab> <Action>(PreviousTab)
map <leader>rn <Action>(RenameElement)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>a <Action>(ActiveProblemsViewToolWindow)
map <leader>t <Action>(ActiveTerminalToolWindow)
map <leader>x <Action>(CloseEditor)

map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map gd <Action>(GotoDeclaration)
map gy <Action>(GotoTypeDeclaration)
map gi <Action>(GotoImplementation)
map gr <Action>(GotoDeclaration)

inoremap jk <Esc>
nnoremap vd "_d
xnoremap x "_d
nnoremap vD "_D
xnoremap P "0p
xnoremap Y "+y

