#!/usr/bin/env sh

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

xrdb -load ~/.Xresources &
git config --global credential.helper store &
unclutter &
fcitx5 &
xset m 0 0
