#!/usr/bin/env sh

xrdb -load ~/.Xresources &
git config --global credential.helper store &
setxkbmap -option caps:escape &
xinput --set-prop 13 'libinput Accel Speed' -1 &
$HOME/.config/dunst/wrapper.sh &
compton &
dbus-launch fcitx &
