! colors
#include ".Xresources.d/nord" 

! dmenu
dmenu.background: background
dmenu.foreground: foreground
dmenu.selforeground: background
dmenu.selbackground: foreground
st.font: Inconsolata Nerd Font-12;
st.alpha: 0.7


